main {
  min-height: 80vh;
  background: #f1f1f18c;
}
.dancing-script {
  font-family: 'Dancing Script', cursive;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  max-height: 450px;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
  .carousel img {
    max-height: 250px;
  }
  .fas.fa-user,
  .fas.fa-shopping-cart {
    font-size: large;
  }
}

/* custom */

.text-contrast {
  color: #fff;
}
.bg-contrast {
  background-color: #fff;
}
.mainGreen,
.breadcrumb {
  background-image: radial-gradient(circle, #56ab2f, #008000, #008000);
}

.altGreen {
  background-image: linear-gradient(
    to right,
    #5bec7f,
    #76ec40,
    #008000
  ) !important;
}

.fab,
.fas {
  font-size: 1.5rem;
  color: #fff;
}

.btn-contrast {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}
.menu-btn button {
  background-color: #ffffff !important;
  color: #000000;
  border-color: #ffffff;
}
.menu-btn button:hover {
  background-color: #76c2ad !important;
  color: #ffffff;
  border-color: #ffffff;
}
.menu-btn button:focus {
  background-color: #76c2ad !important;
}

.no-decor-links {
  color: #000000;
}
.dropDown-links {
  color: #76c2ad;
}
.dropDown-links:hover {
  text-decoration: none;
  color: #fff;
}
.no-decor-links:hover {
  text-decoration: none;
  color: #fff;
}
.accordion-toggle.list-group-item {
  color: #76c2ad;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.fas.fa-search,
.fas.fa-phone,
.fas.fa-map-marker,
.fas.fa-edit {
  color: #008000;
  font-size: 1.3rem;
}
.mylogo {
  height: 130px;
}
.small-logo {
  max-height: 3rem;
}

#username.dropdown-toggle::after {
  display: none;
}
#username:hover,
.hover-white:hover {
  color: #fff;
}
.finess {
  width: 60%;
  font-size: 1.2rem;
  background: rgba(250, 248, 250, 0.5);
  position: relative;
  bottom: 8rem;
  text-align: center;
  border-radius: 0.5rem;
  color: #000000;
  font-weight: bold;
}
